
    <div data-backdrop="static" class="modal fade" id="order-hotel-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>The Overlook Hotel</h2>
                </div>
                <div class="modal-body order-hotel-modal-container">
                    <div class="step1">
                        <div class="row">

                            <div class="col-md-12">
                                <div class=""></div>
                            </div>

                            <div class="col-md-12 modal-hotel-image" style="height: 250px; background: url(https://placeholdit.imgix.net/~text?txtsize=50&txt=750%C3%97250&w=750&h=250) no-repeat center; background-size: cover;"></div>
                            <div class="col-md-12">
                                <div>
                                    <p id="modal-hotel-address">Raveien 227 A, 3084 Borre</p>
                                    <p id="modal-hotel-country">Norge</p>
                                    <div class="clearfix"></div>
                                </div>
                                <h3>Info</h3>
                                <p id="modal-hotel-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus venenatis lorem nec faucibus. Nam dapibus mattis purus, non egestas leo. Suspendisse purus purus, mattis id ligula id, posuere eleifend nulla. Etiam vehicula mattis laoreet. Aliquam erat volutpat. Quisque efficitur vulputate magna, eget lobortis tortor suscipit a. Ut eu imperdiet libero. Etiam mollis consectetur posuere. Duis feugiat imperdiet purus, sed malesuada nisl rhoncus accumsan. Etiam condimentum est sit amet tincidunt lobortis. Mauris consequat tempor libero. Donec facilisis leo eu lectus finibus egestas. Maecenas ut ipsum arcu. Suspendisse sed maximus sapien, id dignissim tortor. Vivamus volutpat, ex nec maximus pretium, odio lorem tempus erat, a gravida est turpis id enim.</p>
                            </div>

                        </div>
                    </div>
                    <div class="step2">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Du har bestilt en Suite i The Overlook Hotel.</p>
                            </div>
                            <div class="col-md-12" id="order-hotel-modal-reference">
                                <p class="order-hotel-modal-reference-info">Vennligst bruk denne referansen når du skal sjekke inn</p>
                                <p>AGH445J</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <p id="modal-hotel-price">1 000 NOK</p>
                    <div class="order-hotel-user-input show">
                        <button class="btn btn-primary pull-right" data-hotel-id="1" id="order-hotel-button">Bestill</button>
                        <input type="text" class="form-control pull-right" placeholder="E-post" />
                    </div>
                    <div class="order-hotel-user-close hidden">
                        <button class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Close">Lukk</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <script id="resultTmpl" type="text/x-jsrender">
        <div class="row result-container">
            <div class="col-md-12">
                <div class="row">
                    <div style="background: url({{:URL}}) no-repeat center; background-size: cover;" class="col-md-3 result-image"></div>
                    <div class="col-md-9 result-content">
                        <div class="row result-header">
                            <div class="col-md-12">
                                <h2>
                                    {{:HotelName}}
                                </h2>
                                <p>Ledige rom: <strong>{{:AvailableRooms}}</strong></p>
                                <div class="clearfix"></div>
                                <span class="date">Fra: {{:FromDate}} Til: {{:ToDate}}</span>
                                <span class="address">{{:Address}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row result-description">
                            <div class="col-md-9">
                                <div class="result-body">
                                    <p>{{:Description}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h2 class="result-price">{{:Price}} NOK</h2>
                                <p class="result-price-info">pr natt</p>
                            </div>
                        </div>
                        <div class="row result-footer">
                            <div class="col-md-9 result-categories">
                                {{if HotelTags}}
                                <ul>
                                    {{for HotelTags}}
                                    <li>{{>#data}}</li>
                                    {{/for}}
                                    <div class="clearfix"></div>
                                </ul>
                                {{/if}}
                            </div>
                            <div class="col-md-3 result-order">
                                <button data-target="#order-hotel-modal" data-toggle="modal" data-hotel-id="{{:HotelID}}" class="btn btn-primary">
                                    Velg
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="errorTmpl" type="text/x-jsrender">
        <div class="col-md-12 no-results">
            <h3>{{:error}}</h3>
        </div>
    </script>
    
    <script type="text/javascript" src="assets/js/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/js/jsrender/jsrender.min.js"></script>
    <script type="text/javascript" src="assets/js/moment-with-locales.js/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/menu.js"></script>
    <script type="text/javascript" src="assets/js/result-helpers.js"></script>
    <script type="text/javascript" src="assets/js/order-modal.js"></script>
    <script type="text/javascript" src="assets/js/init.js"></script>
</body>
</html>