<!DOCTYPE html>
<html>
<head>
    <title>Perfect Hotels Premium</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/jquery-ui/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/custom-style.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/medias.css">
</head>
<body role="document">