@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800);

html, body, .front-page, .row, .col-md-3, .col-md-9 {
    height: 100%;
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

p {
    font-weight: 700;
}

/* NAVBAR */
.navbar-left {
    position: fixed;
    width: 350px;
    height: 100%;
    left: -350px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}
.navbar-hamburger {
    position: fixed;
    top: 15px;
    line-height: .5;
    padding: 10px;
    left: 15px;
    font-size: 26px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #000;
}
.navbar-hamburger:hover {
    cursor: pointer;
}
.navbar-left.active {
    left: 0;
}
.navbar-left.active > .navbar-hamburger {
    left: 290px;
    color: #fff;
}
.navbar-left.active > .navbar-hamburger:hover {
    background-color: rgba(0, 0, 0, 0.11);
}
.navbar-left h1 {
    padding: 20px;
    margin: 0;
    line-height: 1;
    background-color: #B81818;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navbar-left-menu {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #B81818;
}
.navbar-left-menu li {
    float: left;
    list-style: none;
    padding: 20px 0;
    width: 33%;
    text-align: center;
}
.navbar-left-menu li:hover {
    
}
.navbar-left-menu li a {
    padding: 20px 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
.navbar-left-menu li a:hover,
.navbar-left-menu li a:focus,
.navbar-left-menu li a:active {
    color: #fff;
}

.navbar-left p {
    padding: 0 20px;
}
.navbar-left > form > .row {
    padding: 0 20px;
}
.navbar-left > form > .row:first-child {
    margin-top: 20px;
}
.navbar-left-perfecthotels {
    background: #C01919;
    color: #fff;
}
.select-query {
    margin: 10px 0;
}
.select-query .col-md-12 {
    margin-bottom: 10px;
}
.select-query .col-md-12,
.select-query .col-md-6 {
    padding: 0;
}
.select-query .col-md-4 {
    line-height: 34px;
}
.select-query .col-md-4,
.select-query .col-md-8 {
    padding: 0;
}
.select-query .first {
    width: 100%;
    margin-bottom: 10px;
}
.select-query .last {
    width: 100%;
}

.select-country .btn-group .btn+.btn,
.select-country .btn-group .btn+.btn-group,
.select-country .btn-group .btn-group+.btn,
.select-country .btn-group .btn-group+.btn-group {
    margin-left: 0;
}
.select-country .btn-default {
    border-radius: 0;
    
}
.ajax-loader-gif {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

/* RESULTS */

#results {
    box-sizing: border-box;
}
#results > .row {
    margin-top: 15px;
}
#results .page-header {
    border: 0;
}
#results .page-header h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
}

.no-results {
    text-align: center;
}

.please-search {
    text-align: center;
}
.please-search h3 {
    margin-top: 0;
}

.select-country {
    text-align: center;
}

.search-terms {
    margin-top: 20px;
    border: 1px solid #eee;
}
.search-terms .col-md-4 {
  padding: 10px 0;
}

#results 
.result-image {
    background: #fff;
    padding: 0;
    height: 250px;
}
.result-container {
    margin: 30px 0 50px 0;
    border: 1px solid #eee;
}

.result-header {
    padding: 0;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
.result-header .col-md-12 {
    padding-right: 0;
}
.result-header h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #000000;
    float: left;
}
.result-header p {
    margin: 8px 0 0 0;
    float: right;
    text-align: right;
}
.result-header .address {
  float: left;
  margin-top: 0;
  font-weight: 600;
  padding-bottom: 10px;
}
.result-header h2:hover,
.result-header p:hover,
.result-header .address:hover {
    cursor: default;
}

.result-description {
    background: #fff;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #eee;
}
.result-description h2 {
    margin: 10px 0 0 0;
    color: #B81818;
    font-weight: 600;
}
.result-body {
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    max-height: 120px;
    height: 120px;
    font-size: 16px;
}

.result-categories {
    margin-top: 0;
}
.result-categories ul {
    margin-bottom: 0;
}
.result-categories ul li {
    float: left;
    width: 200px;
}

.result-order {
    margin-top: 0;
}
.result-order .btn {
    float: right;
    display: block;
    width: 100%;
}
.result-price {
    text-align: right;
}
.result-price-info {
    text-align: right;
    font-size: 12px;
}
.select-roomtype {
    margin-top: 15px;
}

.select-query .text {
    margin: 0;
}

.result-header .date {
    float: right;
}

/* ORDER MODAL */

.modal-header {
    border: none;
}

#modal-hotel-price {
    float: left;
    font-size: 30px;
    color: #B81818;
}

#modal-hotel-address {
    float: left;
    font-weight: 900;
    margin: 20px 0 0 0;
}

.order-hotel-modal-container,
.edit-bookings-modal-container {
    width: 200%;
    padding: 15px  0 0 0;
}

#edit-bookings-modal-step1-container {
    padding: 10px 20px;
    background-color: #B81818;
    color: #fff;
}

.modal-bookings-submit {
    margin: 10px 0 0 0;
}

.modal-bookings-reference-input {
    padding: 15px 12px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

div.tooltip-inner {
    max-width: 200px;
    padding: 20px;
    font-size: 16px;
}

.step1,
.step2 {
    width: 50%;
    float: left;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform .5s ease;
}
.step1 .row,
.step2 .row {
    margin: 0;
    padding: 0;
}

.modal-content {
    overflow: hidden;
}

.order .step1,
.order .step2,
.edit .step1,
.edit .step2 {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.modal-hotel-roomtype {
    margin: 0;
    padding: 0;
}

.order-hotel-user-input {
    float: right;
    width: 40%;
    margin: 7px 0 0 0;
}
.order-hotel-user-input input {
    margin-right: 10px;
    width: 50%;
    display: inline;
}
.order-hotel-user-input button {
    margin-bottom: 3px;
}

.order-hotel-user-close {
    margin: 7px 0 0 0;
}
/* reset bootstrap styling for close buttons */
.order-hotel-user-close button.close {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    opacity: 1;
    text-shadow: initial;
}

#order-hotel-modal-reference {
    background-color: #B81818;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
}

.order-hotel-modal-reference-info {
    font-weight: 200;
    font-size: 16px;
}

#modal-hotel-country {
    float: right;
    margin: 20px 0 0 0;
    font-weight: 900;
}

.ajax-loader-container {
    text-align: center;
    padding: 30px 0;
}

.select-roomtype-col {
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
}

.table>tbody>tr {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    
}

.table-striped>tbody>tr.bg-delete-error {
    background-color: #f2dede;
};



.hasDatepicker {
    cursor: pointer;
}


/* JQUERY DATEPICKER */
.ui-widget-header {
    border: 1px solid #B81818;
    background: #C01919;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #c92b2b;
  background: #c92b2b;
  color: #FFFFFF;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #EC4C4C;
  background: #EC4C4C;
  font-weight: bold;
  color: #FFFFFF;
}

.checkin-modal-container {
    width: 300%;
    min-width: 300%;
    max-width: 300%;
    padding: 0;
}
#checkin-modal-step1-container {
    padding: 10px 20px;
    background-color: #B81818;
    color: #fff;
}

.modal-checkin-reference-input {
  padding: 15px 12px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.modal-checkin-submit {
    margin: 10px 0 0 0;
}

.checkin-modal-container .step3 {
    float: left;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform .5s ease;
}
.checkin-modal-container .step3 .row {
    padding: 0;
    margin: 0;
}

.checkin-modal-container .step1,
.checkin-modal-container .step2,
.checkin-modal-container .step3 {
    width: 33.3%;
}

.checkin-modal-container.checkin .step1,
.checkin-modal-container.checkin .step2,
.checkin-modal-container.checkin .step3 {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.checkin-modal-container.checkin-done .step1,
.checkin-modal-container.checkin-done .step2,
.checkin-modal-container.checkin-done .step3 {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
}
