@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800);

html, body, .front-page, .row, .col-md-3, .col-md-9 {
    height: 100%;
}
body {
    background-color: #fff;
}

/* NAVBAR */
.navbar-left {
    position: fixed;
    width: 350px;
    height: 100%;
    left: -350px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}
.navbar-hamburger {
    position: fixed;
    top: 15px;
    line-height: .5;
    padding: 10px;
    left: 15px;
    font-size: 26px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #000;
}
.navbar-hamburger:hover {
    cursor: pointer;
}
.navbar-left.active {
    left: 0;
}
.navbar-left.active > .navbar-hamburger {
    left: 290px;
    color: #fff;
}
.navbar-left.active > .navbar-hamburger:hover {
    background-color: rgba(0, 0, 0, 0.11);
}
.navbar-left h1 {
    padding: 20px;
    margin: 0 0 20px 0;
    line-height: 1;
    background-color: #B81818;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.navbar-left p {
    padding: 0 20px;
}
.navbar-left > form > .row {
    padding: 20px;
}
.navbar-left-perfecthotels {
    background: #C01919;
    color: #fff;
}
.select-query {
    margin: 10px 0;
}
.select-query .col-md-12 {
    margin-bottom: 10px;
}
.select-query .col-md-12,
.select-query .col-md-6 {
    padding: 0;
}
.select-query .col-md-4 {
    line-height: 34px;
}
.select-query .col-md-4,
.select-query .col-md-8 {
    padding: 0;
}

.select-query .first {
    padding-right: 15px;
}
.select-query .last {
    padding-left: 15px;
}

/* RESULTS */

#results {
    box-sizing: border-box;
}
#results > .row {
    margin-top: 15px;
}
#results .page-header {
    border: 0;
}
#results .page-header h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
}
#results 
.result-image {
    background: #fff;
    padding: 0;
    height: 250px;
}
.result-container {
    margin-top: 20px;
}
.result-description {
    background: #fff;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-description h2 {
    margin: 10px 0 0 0;
}
.result-header {
    padding: 0;
}
.result-header h2 {
    padding: 0;
    margin: 0;
}
.result-header p {
    margin: 0;
}
.result-body {
    padding: 20px;
}
.result-order {
    margin-bottom: 20px;
    position: relative;
    bottom: 0;
}