<div class="modal fade" id="info-modal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Velkommen til Perfect Hotels Premium</h3>
            </div>
            <div class="modal-body">
                <hr>
                <h4>Hvordan søker jeg?</h4>
                <p>For å benytte denne nettsiden velger man først et land, så en datorekkevidde og en romtype.</p>
                <p>Deretter blir søkeknappen aktiv, og man får en liste over hoteller man kan booke seg inn på, ved hjelp av en e-postaddresse.</p>
                <hr>
                <h4>Hvordan booker jeg?</h4>
                <p>Gjør et søk og klikk "Velg". Du får da opp et vindu hvor du kan lese mer om hotellet, samt se et bilde av rommet du mest sannsynlig får utdelt.</p>
                <p>Skriv inn e-posten din nederst til høyre i vinduet, og du vil få igjen en referanse.</p>
                <p>E-posten du benytter er din identifikasjon. Referansen du får tilbake etter du booker et hotell er basert på din e-post.</p>
                <p>Dermed har du bare èn referanse å forholde deg til for alle dine bookings.</p>
                <hr>
                <h4>Kan jeg endre bookingene mine?</h4>
                <p>Velg "Dine bookings" og fyll inn referansen din.</p>
                <p>Du får et nytt vindu hvor du kan endre til/fra-datoene slik det passer deg.</p>
                <p>Hvis du sletter en booking blir den permanent fjernet fra vår database, dette valget kan ikke reverseres.</p>
                <hr>
                <h4>Hvordan sjekker jeg inn?</h4>
                <p>Du kan kun sjekke inn på dagen du har booket hotellet.</p>
                <p>Pass på så du ikke kommer for sent!<br>Bookingen din frigjøres dagen etter fra-datoen dersom du ikke har sjekket inn.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>