<div class="modal fade" id="info-modal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Velkommen til Perfect Hotels Premium</h3>
            </div>
            <div class="modal-body">
                <p><strong>Hei, og velkommen!</strong></p>
                <p>
                For å benytte denne nettsiden velger man først et land, så en datorekkevidde og en romtype.</p>
                <p>Deretter blir søkeknappen aktiv, og man får en liste over hoteller man kan booke seg inn på, ved hjelp av en e-postaddresse.</p>
                <p>Vi lagrer e-posten din som en hashet kode slik at du kan se alle bestillingene dersom du ønsker å bruke den samme e-posten på flere bestillinger.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>